@using LDevelopment.ViewModels
@{
    ViewBag.Title = Resources.LogIn;
}

<div class="login">
    <div class="container body-content">
        <h2>@ViewBag.Title</h2>
        <div class="row">
            <div class="col-md-6">
                <section>
                    @Html.Partial("_LocalLoginPartial", new LoginViewModel())
                </section>
            </div>
            <div class="col-md-6">
                <section>
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
