@{
    ViewBag.Title = Resources.About;
}

<div class="about parallax-bg">
    <div class="container body-content">
        <h1 class="text-uppercase text-center">@ViewBag.Title</h1>
    </div>
</div>

<div class="content">
    <div class="container body-content">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h2 class="text-uppercase">@Resources.Welcome</h2>
                <p>
                    @Html.Raw(Resources.AboutMessage)
                </p>
            </div>
        </div>
    </div>
</div>

<div class="find-me">
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text-uppercase">@Resources.FindMe</h2>
                <div class="social-buttons">
                    <a href="https://www.facebook.com/ldev.eu/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/lukaszdudziak1990/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://github.com/LDVLPR/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>