@{
    ViewBag.Title = Resources.Contact;
}

<div class="contact parallax-bg">
    <div class="container body-content">
        <h1 class="text-uppercase text-center">@ViewBag.Title</h1>
    </div>
</div>

<div class="content">
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <p>
                    <strong>LDevelopment</strong><br />
                    Łukasz Dudziak<br />
                </p>

                <p>
                    <strong>E-mail:</strong> <a href="mailto:kontakt@ldev.eu">kontakt@ldev.eu</a>
                </p>
            </div>
        </div>
    </div>
</div>

