@{
    ViewBag.Title = Resources.Contact;
}

<div class="contact">
    <div class="container body-content">
        <h2 class="text-uppercase text-center">@ViewBag.Title</h2>
    </div>
</div>

<div class="content">
    <div class="container body-content">
        <p>
            <strong>LDevelopment</strong><br/>
            Łukasz Dudziak<br/>
        </p>

        <p>
            <strong>E-mail:</strong> <a href="mailto:kontakt@ldev.eu">kontakt@ldev.eu</a>
        </p>
    </div>
</div>

