@{
    ViewBag.Title = Resources.Contact;
}

<div class="contact">
    <div class="container body-content">
        <h1 class="text-uppercase text-center">@ViewBag.Title</h1>
    </div>
</div>

<div>
    <div class="container body-content">
        <div class="col-md-12">
            <p>
                <strong>@Resources.SiteName</strong><br />
                Łukasz Dudziak<br />
                NIP: 6972209222
            </p>

            <p>
                <strong>@Resources.Email:</strong> <a href="mailto:kontakt@ldev.eu">kontakt@ldev.eu</a><br />
                <strong>@Resources.Phone:</strong> +48 604 067 587
            </p>
        </div>
    </div>
</div>

