@{
    ViewBag.Title = Resources.Contact;
}

<div class="contact">
    <div class="container body-content">
        <h2 class="text-uppercase text-center">@ViewBag.Title</h2>
    </div>
</div>

<div>
    <div class="container body-content">
        <h2 class="text-uppercase text-center">@ViewBag.Title</h2>
        <address>
            <strong>LDevelopment</strong><br/>
            Łukasz Dudziak<br/>
        </address>

        <address>
            <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br/>
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>

