@{
    ViewBag.Title = Resources.Error;
}

<div class="error">
    <div class="container body-content text-center">
        <h2 class="text-uppercase">@ViewBag.Title</h2>
        <h3>@Resources.ErrorOccured</h3>
    </div>
</div>

