@{
    ViewBag.Title = Resources.Error;
}

<div class="error">
    <div class="container body-content">
        <h2 class="text-uppercase text-center">@ViewBag.Title</h2>
        <h3 class="text-center">@Resources.ErrorOccured</h3>
    </div>
</div>

