$color-white: #ffffff;
$color-blue: #0f6cc3;
$color-left: #155fa7;
$color-right: #118ad1;
$color-dark: #0a365d;
$color-pale: #dddddd;
$color-gray: #949596;
$color-black: #212427;

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    letter-spacing: 0.05em;

    .navbar {
        background-color: $color-white;
        border-color: $color-pale;

        .logo img {
            padding: 26px 45px 26px 15px;
        }

        li a {
            padding: 26px;
            font-size: 16px;
            font-weight: bold;
            line-height: 26px;
            color: $color-black !important;

            &:hover {
                color: $color-left !important;
            }
        }

        button {
            background-color: $color-gray;
        }

        .navbar-toggle {
            margin: 20px 15px;
            float: left;
            border: none;
            background-color: $color-white !important;

            .icon-bar {
                background-color: $color-blue;
                height: 4px;
            }
        }
    }

    .site {

        input, select {
            height: 46px;
            max-width: 280px;
            padding: 6px 20px;
            border: 1px solid $color-blue;
            border-radius: 25px;
        }

        input[type=checkbox] {
            vertical-align: middle;
            height: 20px;
        }

        img {
            max-width: 100%;
        }

        header {
            color: $color-black;
        }

        h1 {
            font-size: 40px;
            line-height: 48px;
            margin: 10px 0;
        }

        h2 {
            font-size: 32px;
            font-weight: bold;
            line-height: 30px;
            margin: 20px 0;
        }

        h3 {
            font-size: 20px;
            line-height: 26px;
            margin: 10px 0;
        }

        h4 {
            font-size: 32px;
            line-height: 30px;
        }

        p {
            color: $color-black;
            font-size: 16px;
            line-height: 26px;

            .text-2 {
                color: $color-gray;
                font-size: 16px;
                line-height: 26px;
            }
        }

        hr {
            margin: 60px 0;
        }

        .body-content {
            padding: 80px 0;

            .form-group {

                .form-control {
                    display: inline-block;
                }
            }
        }

        .bgnd {
            background-attachment: fixed;
            background-position: center 0;
            background-repeat: no-repeat;
            background-size: 1920px;
            height: 54vh;
            max-height: 1200px;
            min-height: 200px;
        }

        .banner {
            @extend .bgnd;
            background-attachment: scroll;
            height: 200px;
            margin: 80px 0 0;
            color: $color-white;

            .container {
                padding: 64px 0;
            }
        }

        @media only screen and (max-width: 767px) {

            .home {

                .container {
                    padding: 20vh 80px;

                    h1 {
                        font-size: 47px;
                    }

                    h2 {
                        font-size: 12px;
                    }
                }
            }

            .blog {
                .container {

                    .search {

                        .btn-lg {
                            display: none;
                        }

                        .btn-sm {
                            display: inline-block !important;
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 768px) and (max-width: 991px) {

            .home {

                .container {
                    padding: 20vh 80px;

                    h1 {
                        font-size: 63px;
                    }

                    h2 {
                        font-size: 18px;
                    }
                }
            }
        }

        @media screen and (min-width: 992px) {

            .home {

                .container {
                    padding: 30vh 80px;

                    h1 {
                        font-size: 63px;
                    }

                    h2 {
                        font-size: 21px;
                    }
                }
            }
        }

        .link {
            border: 1px solid $color-dark;
            border-radius: 25px;
            color: $color-dark;
            background-color: $color-white;
            padding: 10px 40px;
            transition: 0.2s;

            &:hover {
                color: $color-white;
                background-color: $color-dark;
                border: 1px solid $color-dark;
            }
        }

        .gradient {
            background: $color-left; /* For browsers that do not support gradients */
            background: linear-gradient(to right, $color-left, $color-right); /* Standard syntax */
            background: -webkit-linear-gradient(left, $color-left, $color-right); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right, $color-left, $color-right); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, $color-left, $color-right); /* For Firefox 3.6 to 15 */
        }

        .main {

            .row {
                margin: 10vh 0;

                p {
                    margin: 60px 0;
                }
            }

            .home {
                @extend .bgnd;
                height: 100vh;
                background-image: url("/Content/Images/banner_01.jpg");

                .container {

                    .row {

                        h1 {
                            color: #fff;
                            font-weight: bold;
                        }

                        h2 {
                            color: #fff;
                            font-weight: normal;
                        }

                        .link {
                            border: 1px solid transparent;
                        }
                    }
                }
            }

            .about-me, .last, .popular {

                .body-content {
                    padding: 30px 0;
                }
            }

            .last, .popular {

                .short {
                    margin: 60px 0;

                    h3 {
                        a {
                            color: $color-black;
                            border: none;
                            text-decoration: none;
                        }
                    }

                    p {
                        margin: 10px 0;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-align: left;
                        max-height: 104px; /* line-clamp * line-height */
                    }

                    .more {
                        margin: 20px 0 0;
                        text-align: center;
                    }
                }
            }

            .section-1 {
                @extend .bgnd;
                background-image: url("/Content/Images/section_01.jpg");
            }

            .section-2 {
                @extend .bgnd;
                background-image: url("/Content/Images/section_02.jpg");
            }

            .newsletter {
                @extend .gradient;

                .row {
                    margin: 40px 0;

                    h2, p {
                        color: $color-white;
                        margin: 40px 0;
                    }

                    a {
                        color: $color-white;
                        background-color: transparent;
                        border: 1px solid $color-white;

                        &:hover {
                            background-color: $color-dark;
                            border-color: $color-dark;
                        }
                    }
                }
            }
        }

        .blog {
            @extend .banner;
            background-image: url("/Content/Images/blog_header.jpg");

            .container {
                padding: 42px 0;

                .search {
                    text-align: center;

                    input {
                        display: inline-block;
                        border-radius: 25px;
                        border: 0;
                        max-width: none;

                        &[type=text] {
                            max-width: 70%;
                        }
                    }

                    .link {
                        margin: 0 0 0 10px;
                    }

                    .btn-sm {
                        padding: 0 14px;
                        font-size: 20px;
                        display: none;
                    }
                }
            }
        }

        .about {
            @extend .banner;
            background-image: url("/Content/Images/about_header.jpg");
        }

        .find-me {
            @extend .gradient;

            h2 {
                color: $color-white;
            }

            a {
                font-size: 64px;
                padding: 10px 40px;
                color: $color-white;
                opacity: 0.6;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .contact {
            @extend .banner;
            background-image: url("/Content/Images/contact_header.jpg");
        }

        .posts {

            .post {

                .post-title a {
                    color: $color-black;
                    text-decoration: none;
                }

                .more {
                    margin: 20px 0 0;
                }
            }

            .pagination {

                li {
                    text-align: center;

                    &:first-child > a {
                        border-top-left-radius: 25px;
                        border-bottom-left-radius: 25px;
                    }

                    &:last-child > a {
                        border-top-right-radius: 25px;
                        border-bottom-right-radius: 25px;
                    }

                    a {
                        width: 40px;
                        height: 40px;
                        line-height: 28px;
                        padding: 6px;
                    }
                }
            }
        }

        .post-details {

            img {
                margin: 20px 0 0;
            }

            .login {
                overflow: hidden;
            }

            .new-comment {
                border-radius: 25px;
                padding: 10px;
                width: 100%;
                max-width: 100%;
                max-height: 300px;
            }

            .comments {

                .comment {
                    padding: 10px 0;

                    .date {
                        font-size: small;
                        color: $color-gray;
                    }
                }
            }
        }

        .posts, .post-details {

            .tags {

                h3 {
                    margin: 0;
                }

                .tag {
                    border: 1px solid $color-gray;
                    border-radius: 25px;
                    padding: 2px 10px;
                    margin: 10px 10px 0 0;
                    font-size: 13pt;
                    display: inline-block;
                    text-decoration: none;
                }

                .tag-small {
                    @extend .tag;
                    font-size: 10pt;
                }
            }

            .post-header {
                padding: 0 0 10px 0;

                span, a {
                    color: $color-gray;
                    font-size: 16px;
                    margin: 0 3px 0 0;
                }

                .glyphicon-comment {
                    margin: 0 3px 0 10px;
                }
            }

            .post-content {

                pre code {
                    font-size: 90%
                }
            }
        }

        .login {

            h2 {
                padding: 15vh 0 2vh;
            }

            .social-login-buttons {
                padding: 20px 0;

                #Google {
                    background-color: #db3236;
                }

                #Facebook {
                    background-color: #3b5998;
                }

                #Microsoft {
                    background-color: #00a1f1;
                }

                button {
                    color: $color-white;
                    border: none;
                    width: 280px;
                    margin: 5px;

                    &:hover {
                        background-color: $color-dark !important;
                    }

                    i {
                        font-size: 24px;
                        float: left;
                    }
                }
            }

            .local-login {
                padding: 20px 0 0;
            }
        }

        .register {

            h2 {
                padding: 15vh 0 2vh;
            }

            .form {
                padding: 20px 0;
            }
        }

        .error, .manage {

            h2 {
                padding: 15vh 0 2vh;
            }
        }

        footer {
            background-color: $color-black;
            color: $color-white;

            .container {
                padding: 10px 15px;

                .copyright {
                    margin: 60px 0;
                    float: left;

                    img {
                        padding: 10px 30px 10px 15px;
                    }

                    p {
                        padding: 15px;
                        font-size: 12px;
                        color: $color-gray;
                    }
                }

                .social-buttons {
                    margin: 60px 0;
                    float: right;

                    a {
                        color: inherit;
                        font-size: 32px;
                        padding: 10px;

                        &:hover {
                            color: $color-gray;
                        }
                    }
                }
            }
        }

        *:focus, *:active {
            outline: none !important;
            /*box-shadow: none !important;*/
        }
    }

    #modal {
        background-image: url("/Content/Icons/spinner.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: $color-white;
        display: block;
    }
}
