$color-white: #ffffff;
$color-blue: #0f6cc3;
$color-dark: #0a365d;
$color-gray: #949596;
$color-black: #212427;

body {
    font-family: 'Roboto', sans-serif;
    padding: 50px 0 0;
    height: 100%;

    .navbar {
        background-color: $color-white;

        .logo img {
            padding: 10px 30px 10px 15px;
        }

        a {
            font-weight: bold;
            color: $color-black !important;

            &:hover {
                color: $color-blue !important;
            }
        }

        button {
            background-color: $color-gray;
        }
    }

    .site {
        /*position: relative;
        min-height: 100%;*/

        input, select {
            max-width: 280px;
            border: 1px solid $color-blue;
            border-radius: 25px;
        }

        img {
            max-width: 100%;
        }

        header {
            color: $color-black;
            //kerning:
        }

        h1 {
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 1px;
        }

        h2 {
            font-size: 32px;
            font-weight: bold;
            line-height: 30px;
            letter-spacing: 2px;
            margin: 20px 0;
        }

        h3 {
            font-size: 20px;
            line-height: 26px;
            margin: 10px 0;
        }

        h4 {
            font-size: 32px;
            line-height: 30px;
        }

        p {
            color: $color-black;
            font-size: 18px;
            line-height: 28px;

            .text-2 {
                color: $color-gray;
                font-size: 16px;
                line-height: 26px;
            }
        }

        .body-content {
            padding: 15px;

            .form-group {

                .form-control {
                    display: inline-block;
                }
            }
        }

        @media only screen and (max-width: 767px) {

            .home {
                .container {
                    padding: 120px 80px;

                    h1 {
                        font-size: 47px;
                    }

                    h2 {
                        font-size: 16px;
                    }
                }
            }

            .banner {
                height: 120px;
                color: $color-white;

                .container {
                    padding: 20px 0;
                }
            }

            .content {
                min-height: 200px;
            }
        }

        @media screen and (min-width: 768px) and (max-width: 991px) {

            .home {

                .container {
                    padding: 160px 80px;

                    h1 {
                        font-size: 63px;
                    }

                    h2 {
                        font-size: 18px;
                    }
                }
            }

            .banner {
                height: 160px;
                color: $color-white;

                .container {
                    padding: 40px 0;
                }
            }

            .content {
                min-height: 260px;
            }
        }

        @media screen and (min-width: 992px) {

            .home {

                .container {
                    padding: 240px 80px;

                    h1 {
                        font-size: 63px;
                    }

                    h2 {
                        font-size: 21px;
                    }
                }
            }

            .banner {
                height: 280px;
                color: $color-white;

                .container {
                    padding: 100px 0;
                }
            }

            .content {
                min-height: 320px;
            }
        }

        .link {
            border: 1px solid $color-blue;
            border-radius: 25px;
            color: $color-blue;
            background-color: $color-white;
            padding: 10px 30px;
            margin: 10px 0;

            &:hover {
                color: $color-white;
                background-color: $color-blue;
            }
        }

        .gradient {
            background: $color-dark; /* For browsers that do not support gradients */
            background: linear-gradient(to right, $color-dark, $color-blue); /* Standard syntax */
            background: -webkit-linear-gradient(left, $color-dark, $color-blue); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right, $color-dark, $color-blue); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, $color-dark, $color-blue); /* For Firefox 3.6 to 15 */
        }

        .main {

            .row {
                margin: 20px 0;

                p {
                    margin: 10px 0;
                }

                a {
                    border: 1px solid $color-white;
                }
            }

            .home {
                background: url("/Content/Images/banner_01.jpg") center no-repeat;

                .row {

                    h1, h2 {
                        color: #fff;
                        font-weight: normal;
                        letter-spacing: normal;
                    }
                }
            }

            .about-me, .last, .popular {

                a {
                    border: 1px solid $color-blue;
                }
            }

            .last, .popular {

                .short {
                    margin: 30px 0;

                    h3 a {
                        color: $color-black;
                        border: none;
                        text-decoration: none;
                    }

                    .more {
                        text-align: center;
                    }
                }
            }

            .section-1 {
                @extend .banner;
                background: url("/Content/Images/section_01.jpg") center no-repeat;
                background-size: cover;
            }

            .section-2 {
                @extend .banner;
                background: url("/Content/Images/section_02.jpg") center no-repeat;
                background-size: cover;
            }

            .newsletter {
                @extend .gradient;

                h2, p {
                    color: $color-white;
                }

                a {
                    border: 1px solid $color-white;
                }
            }
        }

        .blog {
            @extend .banner;
            background: url("/Content/Images/blog_header.jpg") center no-repeat;
            background-size: cover;

            .search {
                text-align: center;

                input {
                    display: inline-block;
                    border-radius: 25px;
                    border: 0;
                }

                .link {
                    padding: 8px 30px;
                    margin: 0 0 0 10px;
                }
            }
        }

        .about {
            @extend .banner;
            background: url("/Content/Images/about_header.jpg") center no-repeat;
            background-size: cover;
        }

        .find-me {
            @extend .gradient;

            h2 {
                color: $color-white;
            }

            a {
                font-size: 64px;
                padding: 10px 20px;

                &:hover {
                    color: $color-white;
                }
            }
        }

        .contact {
            @extend .banner;
            background: url("/Content/Images/contact_header.jpg") center no-repeat;
            background-size: cover;
        }

        .posts {

            .entity-title a {
                color: $color-black;
                text-decoration: none;
            }
        }

        .post {

            .new-comment {
                width: 100%;
            }

            .comments {
                
                .comment {
                    padding: 10px 0 0;
                }
            }
        }

        .posts, .post {

            .tags {

                .tag {
                    border: 1px solid $color-gray;
                    border-radius: 25px;
                    padding: 2px 10px;
                    margin: 4px 4px 4px 0;
                    font-size: 13pt;
                    display: inline-block;
                    text-decoration: none;

                    &:before {
                        content: "# ";
                    }
                }

                .tag-small {
                    @extend .tag;
                    font-size: 10pt;
                }
            }

            .entity-header {
                padding: 0 0 10px 0;

                span, a {
                    color: $color-gray;
                    font-size: 16px;
                    margin: 0 3px 0 0;
                }

                .glyphicon-comment {
                    margin: 0 3px 0 10px;
                }
            }
        }

        .login {

            .social-buttons {
                padding: 20px 0;

                button {
                    width: 280px;
                    margin: 5px;

                    i {
                        font-size: 24px;
                        float: left;
                    }
                }
            }

            .local-login {
                padding: 20px 0 0;
            }
        }

        .register {

            .form {
                padding: 20px 0;
            }
        }

        footer {
            background-color: $color-black;
            color: $color-white;
            /*bottom: 0;
            left: 0;
            width: 100%;
            position: absolute;*/

            .container {
                padding: 10px 15px;

                .copyright {
                    float: left;

                    img {
                        padding: 10px 30px 10px 15px;
                    }

                    p {
                        padding: 0 15px;
                        font-size: 12px;
                        color: $color-white;
                    }
                }

                .social-buttons {
                    float: right;

                    a {
                        color: inherit;
                        font-size: 32px;
                        padding: 10px 5px;

                        &:hover {
                            color: $color-gray;
                        }
                    }
                }
            }
        }
    }
}
