$color-white: #ffffff;
$color-blue: #0f6cc3;
$color-dark: #0a365d;
$color-gray: #949596;
$color-black: #212427;

body {
    padding-top: 50px;
    font-family: 'Roboto', sans-serif;

    .navbar {
        background-color: $color-white;

        .logo img {
            padding: 10px 30px 10px 15px;
        }

        a {
            font-weight: bold;
            color: $color-black !important;

            &:hover {
                color: $color-blue !important;
            }
        }

        button {
            background-color: $color-gray;
        }
    }

    .site {

        input, select  {
            max-width: 280px;
        }

        img {
            max-width: 100%;
        }

        header {
            color: $color-black;
            //kerning:
        }

        h1 {
            font-size: 40px;
            line-height: 48px;
        }

        h2 {
            font-size: 32px;
            line-height: 30px;
        }

        h3 {
            font-size: 20px;
            line-height: 26px;
        }

        h4 {
            font-size: 32px;
            line-height: 30px;
        }

        p {
            color: $color-black;
            font-size: 18px;
            line-height: 28px;

            text-2 {
                color: $color-gray;
                font-size: 16px;
                line-height: 26px;
            }
        }

        .main {

            .row {
                margin: 20px 0;

                a {
                    border: 1px solid $color-blue;
                    border-radius: 25px;
                    color: $color-blue;
                    background-color: $color-white;
                    padding: 10px 30px;

                    &:hover {
                        color: $color-white;
                        background-color: $color-blue;
                    }
                }

                p {
                    margin: 20px 0;
                }
            }
        }

        .home {
            background: url("/Content/Images/banner_01.jpg") center no-repeat;

            .row {
                
                h1, h2 {
                    color: #fff;
                }

                a {
                    color: $color-blue;
                    background-color: $color-white;
                }
            }
        }

        @media only screen and (max-width: 767px) {

            .home {
                .container {
                    padding: 120px 80px;

                    h1 {
                        font-size: 47px;
                    }

                    h2 {
                        font-size: 16px;
                    }
                }
            }

            .banner {
                height: 120px;
                color: $color-white;

                .container {
                    padding: 20px 0;
                }
            }
        }

        @media screen and (min-width: 768px) and (max-width: 991px) {

            .home {

                .container {
                    padding: 160px 80px;

                    h1 {
                        font-size: 63px;
                    }

                    h2 {
                        font-size: 18px;
                    }
                }
            }

            .banner {
                height: 160px;
                color: $color-white;

                .container {
                    padding: 40px 0;
                }
            }

            .content {
                min-height: 280px;
            }
        }

        @media screen and (min-width: 992px) {

            .home {

                .container {
                    padding: 240px 80px;

                    h1 {
                        font-size: 63px;
                    }

                    h2 {
                        font-size: 21px;
                    }
                }
            }

            .banner {
                height: 280px;
                color: $color-white;

                .container {
                    padding: 100px 0;
                }
            }

            .content {
                min-height: 280px;
            }
        }

        .last, .popular {

            .short {
                margin: 30px 0;

                .more {
                    text-align: center;
                }
            }
        }

        .section-1 {
            @extend .banner;
            background: url("/Content/Images/section_01.jpg") center no-repeat;
            background-size: cover;
        }

        .section-2 {
            @extend .banner;
            background: url("/Content/Images/section_02.jpg") center no-repeat;
            background-size: cover;
        }

        .blog {
            @extend .banner;
            background: url("/Content/Images/blog_header.jpg") center no-repeat;
            background-size: cover;
        }

        .about {
            @extend .banner;
            background: url("/Content/Images/about_header.jpg") center no-repeat;
            background-size: cover;
        }

        .contact {
            @extend .banner;
            background: url("/Content/Images/contact_header.jpg") center no-repeat;
            background-size: cover;
        }

        .post {

            .new-comment {
                width: 100%;
            }
        }

        .newsletter {
              background: $color-dark; /* For browsers that do not support gradients */
              background: linear-gradient(to right, $color-dark , $color-blue); /* Standard syntax */
              background: -webkit-linear-gradient(left, $color-dark , $color-blue); /* For Safari 5.1 to 6.0 */
              background: -o-linear-gradient(right, $color-dark, $color-blue); /* For Opera 11.1 to 12.0 */
              background: -moz-linear-gradient(right, $color-dark, $color-blue); /* For Firefox 3.6 to 15 */
          
              h2, p {
                  color: $color-white;
              }

              a {
                  border: 1px solid $color-white;
              }
        }

        .login {

            .social-buttons {

                button {
                    width: 270px;
                    margin: 5px;

                    span {

                    }

                    i {
                        font-size: 24px;
                    }
                }
            }

            .form-group {

                .form-control {
                    display: inline-block;
                }
            }
        }

        .body-content {
            padding: 15px;

            .search {
                text-align: center;

                input {
                    display: inline-block;
                }
            }

            .tags {

		        .tag {
			        border: 1px solid;
			        padding: 2px 8px;
			        margin: 4px 4px 4px 0;
			        font-size: 13pt;
			        display: inline-block;

			        &:before {
				        content: "# ";
			        }
		        }

		        .tag-small {
			        @extend .tag;
			        font-size: 10pt;
		        }
	        }
        }

        footer {
            background-color: $color-black;
            color: $color-white;
            /*bottom: 0;
            position: fixed;
            width: 100%;*/

            .container {
                padding: 10px 15px;

                .copyright {
                    float: left;

                    img {
                        padding: 10px 30px 10px 15px;
                    }

                    p {
                        padding: 0 15px;
                        font-size: 12px;
                        color: $color-white;
                    }
                }

                .social-buttons {
                    float: right;

                    a {
                        color: inherit;
                        font-size: 32px;
                        padding: 10px 5px;

                        &:hover {
                            color: $color-gray;
                        }
                    }
                }
            }
        }
    }
}